certifi==2024.8.30
charset-normalizer==3.3.2
decorator==4.4.2
idna==3.9
imageio==2.35.1
imageio-ffmpeg==0.5.1
moviepy==1.0.3
numpy==2.1.1
pillow==10.4.0
proglog==0.1.10
PySide6==6.7.2
PySide6_Addons==6.7.2
PySide6_Essentials==6.7.2
requests==2.32.3
shiboken6==6.7.2
tqdm==4.66.5
urllib3==2.2.3
